{% from 'form.html' import form as form %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}whats in your flask?{% endblock %}</title>
    <link href='/static/favicon.ico' rel='icon' type='image/x-icon' />
    <link href='{{ url_for('hipflask.static', filename='css/bootstrap.css') }}' rel='stylesheet'>
    <link href='{{ url_for('hipflask.static', filename='css/hipflask.css') }}' rel='stylesheet'>
    <link href='{{ url_for('hipflask.static', filename='css/bootstrap-responsive.css') }}' rel='stylesheet'>    
    {% block css %}{% endblock %}
    {% block head %}{% endblock %}
</head>
<body>    
    <div class="container">
        <div class="modal hide fade" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Login / Register</h3>
            </div>
            <div class="modal-body container">
                <div class="row">
                    <div class="span3">
                        {{ form(login_form, action="/login", submit_text="Login") }}
                    </div>
                    <div class="span3">
                        {{ form(register_form, action="/register", submit_text="Register") }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">                
            </div>
        </div>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <ul class="nav">
                    <li>    
                        <a class="brand" href="#">
                            {% block brand %}get hip!{% endblock %}
                        </a>
                    </li>
                </ul>
                <ul class="nav pull-right">
                    {% block usermenu %}                    
                        {% if current_user.is_authenticated() %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                {{ current_user.login }}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Profile</a></li>
                                <li><a href="{{ url_for('hipflask.logout') }}">Logout</a></li>
                            </ul>
                        </li>
                        {% else %}
                        <li>
                            <button data-target="#login_modal" class='btn-primary' data-toggle="modal">Login / Register</button>
                        </li>
                        {% endif %}                    
                    {% endblock usermenu %}
                </ul>
            </div>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}    
            {% endif %}
        {% endwith %}
        <div>    
            {% block body %}{% endblock %}
        </div>
    </div>    

    <script type='text/javascript' src='{{ url_for('hipflask.static', filename='js/thirdparty/jquery-1.8.1.js') }}'></script>
    <script type='text/javascript' src='{{ url_for('hipflask.static', filename='js/thirdparty/knockout-2.1.0.debug.js') }}'></script>
    <script type='text/javascript' src='{{ url_for('hipflask.static', filename='js/jquery-knockout.js') }}'></script>
    <script type='text/javascript' src='{{ url_for('hipflask.static', filename='js/thirdparty/knockout.mapping-latest.debug.js') }}'></script>
    <script type='text/javascript' src='{{ url_for('hipflask.static', filename='js/thirdparty/bootstrap.js') }}'></script>
    <script type='text/javascript' src='{{ url_for('hipflask.static', filename='js/hipflask.js') }}'></script>
    {% block js %}{% endblock %}
</body>
</html>