{% macro form(wtf, action='', method="POST", submit_class="btn", submit_text="Submit") %}
<form method="{{method}}" action="{{action}}">
    {{ wtf.hidden_tag() }}
    {% for f in wtf if f.label.text != 'Csrf Token' %}
        <div>
            {{ f.label }}
            {{ f }}
            {% if f.errors %}
                <ul>
                    {% for e in f.errors %}
                    <li>{{ e }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endfor %}
    <button class="{{submit_class}}" type="submit" />{{submit_text}}</button>
</form>
{% endmacro %}