body {
    /* See http://twitter.github.com/bootstrap/components.html#navbar */
    padding: 60px
}

.alert {
    display: none;
}

.navbar {
    height:50px;
}

.navbar .brand {
    margin-top: 5px;
    margin-left: 0;
}

.navbar button {
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.modal {
    overflow: hidden;
}

.modal .container {
    width: 575px;
}
